/*
/* Responsive
/* ========================= */

/*.body-container { width: 1366px; }*/

@media only screen and (min-width: 1366px) {
    /* desktop */
}

@media only screen and (max-width: 1366px) {
    /* laptop */
    .body-container { min-width: 960px; }

}

@media only screen and (max-width: 960px) {
    /* phone */
    .body-container { min-width: 665px; }

    .w960 { width: 635px; }

    .slider-mid-text {
        width: auto;
        margin-left: 30px;
    }

    .slider-mid-text .btn {
        position: relative;
        bottom: 0;
        margin: 30px auto;
    }

    .main .btn { display: block; }


    .footer .logo {
        position: inherit;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    .footer .partner-logos img {
        margin-left: 15px;
        margin-right: 10px;
    }
}